:root {
  --main-color: #00b0f0;
  --text-color: #fff;
  --bg-color: #11133f;
  --body-color: #202254;
  --main-margin: 15px;
  --main-padding: 60px 0;
  --main-font: "Cairo", sans-serif;
}
*,
body {
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
  color: #fff;
  direction: rtl;
}
body {
  background-color: var(--body-color);
}
a {
  text-decoration: none;
  color: var(--main-color);
  transition: 0.5s ease-in-out;
}
a:hover {
  color: #0185b6;
}
ul {
  list-style: none;
}
.myButton {
  background-color: var(--main-color);
  color: var(--text-color);
  font-weight: bold;
  padding: 15px 30px;
  border: 2px solid var(--main-color);
}
.myButton:hover {
  color: var(--text-color);
}
section:not(#hero) {
  background-color: var(--bg-color);
  margin-top: var(--main-margin);
}
section h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
section p {
  font-size: 20px;
}
.maintitle {
  width: fit-content;
  margin: 20px auto;
  border-bottom: 2px solid #fff;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
}

.maintitle::before,
.maintitle::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--main-color);
  display: inline-block;
  position: absolute;
  top: 25px;
}
.maintitle::after {
  right: -30px;
}
.maintitle::before {
  left: -30px;
}
.maintitle:hover::after {
  z-index: -1;
  animation: move-left 1s ease-in-out forwards;
}
.maintitle:hover::before {
  z-index: -1;
  animation: move-right 1s ease-in-out forwards;
}
@keyframes move-left {
  to {
    right: 0;
    width: 50%;
    height: 100%;
    border-radius: 0;
    top: 0;
  }
}
@keyframes move-right {
  to {
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 0;
    top: 0;
  }
}
